{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.publisher.tonic.com/v4"
    }
  ],
  "info": {
    "title": "TONIC. for Publishers API",
    "description": "This is the documentation for the \"TONIC. for Publishers API\". Currently this API is in beta and is subject to change. If you have any questions or feedback, please contact your Account Manager.",
    "version": "4.16.1",
    "contact": {
      "email": "support@tonic.com"
    }
  },
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Account ApiCredentials"
    },
    {
      "name": "Account Sub-User"
    },
    {
      "name": "Account Sub-User Roles"
    },
    {
      "name": "Analytics"
    },
    {
      "name": "Articles"
    },
    {
      "name": "Authorization"
    },
    {
      "name": "Campaigns"
    },
    {
      "name": "Compliance"
    },
    {
      "name": "Countries"
    },
    {
      "name": "Managed Access"
    },
    {
      "name": "Offers"
    },
    {
      "name": "Onboarding"
    },
    {
      "name": "Reports"
    },
    {
      "name": "Statistics"
    }
  ],
  "paths": {
    "/account": {
      "get": {
        "operationId": "AccountGet",
        "summary": "Get current users data",
        "description": "Returns the users mail, available campaign types, first- and lastname. In case of a subuser it will also return its role and the associated rights.",
        "deprecated": false,
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                },
                "example": {
                  "data": [
                    {
                      "email": "al.dillon@example.com",
                      "firstName": "Al",
                      "lastName": "Dillon",
                      "availableCampaignTypes": [
                        "display",
                        "search",
                        "rsoc"
                      ],
                      "remainingCampaigns": {
                        "display": 22,
                        "search": 20,
                        "rsoc": 3
                      },
                      "network": "facebook",
                      "availableRsocDomains": [
                        {
                          "domain": "example.com",
                          "languages": [
                            "en",
                            "de"
                          ]
                        },
                        {
                          "domain": "example.org",
                          "languages": [
                            "fr",
                            "zh-hans"
                          ]
                        }
                      ],
                      "isSubUser": false,
                      "subUserRole": {
                        "id": 25,
                        "name": "Campaign creator",
                        "accountSettings": false,
                        "payoutSettings": false,
                        "viewRevenue": "own",
                        "createArticles": true,
                        "createCampaigns": true,
                        "viewArticles": "all",
                        "viewCampaigns": "own",
                        "apiAccess": true,
                        "created": "2022-08-28T12:29:44-07:00",
                        "subUsers": [
                          {
                            "id": 58,
                            "email": "xyz@example.com",
                            "verificationStatus": "verified",
                            "firstName": "Exepsilon",
                            "lastName": "Zet",
                            "status": "active",
                            "created": "2022-08-28T12:29:44-07:00",
                            "subUserRole": {
                              "id": 25,
                              "name": "Campaign creator",
                              "accountSettings": false,
                              "payoutSettings": false,
                              "viewRevenue": "own",
                              "createArticles": true,
                              "createCampaigns": true,
                              "viewArticles": "all",
                              "viewCampaigns": "own",
                              "apiAccess": true,
                              "created": "2022-08-28T12:29:44-07:00"
                            }
                          }
                        ]
                      },
                      "isSystemSubUser": false,
                      "parentAccountId": 123,
                      "parentAccountEmail": "al.dillon@example.com"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "patch": {
        "operationId": "AccountPatch",
        "summary": "Update current users data",
        "description": "Updates the current users firstName and lastName.",
        "deprecated": false,
        "tags": [
          "Account"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "AccountPatchRequest",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 60,
                    "description": "The new first name of the user",
                    "example": "Al"
                  },
                  "lastName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 60,
                    "description": "The new last name of the user",
                    "example": "Dillon"
                  }
                },
                "required": [
                  "firstName",
                  "lastName"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                },
                "example": {
                  "data": [
                    {
                      "email": "al.dillon@example.com",
                      "firstName": "Al",
                      "lastName": "Dillon",
                      "availableCampaignTypes": [
                        "display",
                        "search",
                        "rsoc"
                      ],
                      "remainingCampaigns": {
                        "display": 22,
                        "search": 20,
                        "rsoc": 3
                      },
                      "network": "facebook",
                      "availableRsocDomains": [
                        {
                          "domain": "example.com",
                          "languages": [
                            "en",
                            "de"
                          ]
                        },
                        {
                          "domain": "example.org",
                          "languages": [
                            "fr",
                            "zh-hans"
                          ]
                        }
                      ],
                      "isSubUser": false,
                      "subUserRole": {
                        "id": 25,
                        "name": "Campaign creator",
                        "accountSettings": false,
                        "payoutSettings": false,
                        "viewRevenue": "own",
                        "createArticles": true,
                        "createCampaigns": true,
                        "viewArticles": "all",
                        "viewCampaigns": "own",
                        "apiAccess": true,
                        "created": "2022-08-28T12:29:44-07:00",
                        "subUsers": [
                          {
                            "id": 58,
                            "email": "xyz@example.com",
                            "verificationStatus": "verified",
                            "firstName": "Exepsilon",
                            "lastName": "Zet",
                            "status": "active",
                            "created": "2022-08-28T12:29:44-07:00",
                            "subUserRole": {
                              "id": 25,
                              "name": "Campaign creator",
                              "accountSettings": false,
                              "payoutSettings": false,
                              "viewRevenue": "own",
                              "createArticles": true,
                              "createCampaigns": true,
                              "viewArticles": "all",
                              "viewCampaigns": "own",
                              "apiAccess": true,
                              "created": "2022-08-28T12:29:44-07:00"
                            }
                          }
                        ]
                      },
                      "isSystemSubUser": false,
                      "parentAccountId": 123,
                      "parentAccountEmail": "al.dillon@example.com"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/account/apiCredentials": {
      "get": {
        "operationId": "AccountApiCredentialsGet",
        "summary": "Get list of ApiCredentials",
        "description": "Get list of all ApiCredentials. The list also includes expired ApiCredentials.",
        "deprecated": false,
        "tags": [
          "Account ApiCredentials"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                },
                "example": {
                  "data": [
                    {
                      "id": 42,
                      "consumerKey": "327d4f6045ef5ee302b0afbabab568example20755a7dfeeb89709b0d5e2af68",
                      "consumerKeyStart": "3284",
                      "consumerSecret": "2ac273c5dbd109c4a203ea62631284example17160d9f77bd34a775cd82c63bd",
                      "consumerSecretStart": "69b8",
                      "name": "My API Credential",
                      "description": "Used for XYZ",
                      "validUntil": "2022-08-28T12:29:44-07:00"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      },
      "post": {
        "operationId": "AccountApiCredentialsPost",
        "summary": "Create an ApiCredential",
        "description": "Create a new ApiCredential.",
        "deprecated": false,
        "tags": [
          "Account ApiCredentials"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "AccountApiCredentialsPostRequest",
                "properties": {
                  "validUntil": {
                    "type": "string",
                    "format": "date",
                    "description": "Date until the credentialls are valid. Must be within the next 12 months",
                    "example": "2024-08-28"
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "The name of the credential",
                    "example": "My API Credential"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "Additional information related to the credential",
                    "example": "Used for XYZ"
                  }
                },
                "required": [
                  "validUntil"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                },
                "example": {
                  "data": {
                    "id": 42,
                    "consumerKey": "327d4f6045ef5ee302b0afbabab568example20755a7dfeeb89709b0d5e2af68",
                    "consumerKeyStart": "3284",
                    "consumerSecret": "2ac273c5dbd109c4a203ea62631284example17160d9f77bd34a775cd82c63bd",
                    "consumerSecretStart": "69b8",
                    "name": "My API Credential",
                    "description": "Used for XYZ",
                    "validUntil": "2022-08-28T12:29:44-07:00"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      }
    },
    "/account/apiCredentials/{id}": {
      "get": {
        "operationId": "AccountApiCredentialsIdGet",
        "summary": "Get an ApiCredential",
        "description": "Get data of an ApiCredential by its id.",
        "deprecated": false,
        "tags": [
          "Account ApiCredentials"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The id of the ApiCredential",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                },
                "example": {
                  "data": {
                    "id": 42,
                    "consumerKey": "327d4f6045ef5ee302b0afbabab568example20755a7dfeeb89709b0d5e2af68",
                    "consumerKeyStart": "3284",
                    "consumerSecret": "2ac273c5dbd109c4a203ea62631284example17160d9f77bd34a775cd82c63bd",
                    "consumerSecretStart": "69b8",
                    "name": "My API Credential",
                    "description": "Used for XYZ",
                    "validUntil": "2022-08-28T12:29:44-07:00"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "put": {
        "operationId": "AccountApiCredentialsIdPut",
        "summary": "Update an ApiCredential",
        "description": "Update an ApiCredential.",
        "deprecated": false,
        "tags": [
          "Account ApiCredentials"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "AccountApiCredentialsIdPutRequest",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "The name of the credential",
                    "example": "My API Credential"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 500,
                    "description": "Additional information related to the credential",
                    "example": "Used for XYZ"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The id of the ApiCredential",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                },
                "example": {
                  "data": {
                    "id": 42,
                    "consumerKey": "327d4f6045ef5ee302b0afbabab568example20755a7dfeeb89709b0d5e2af68",
                    "consumerKeyStart": "3284",
                    "consumerSecret": "2ac273c5dbd109c4a203ea62631284example17160d9f77bd34a775cd82c63bd",
                    "consumerSecretStart": "69b8",
                    "name": "My API Credential",
                    "description": "Used for XYZ",
                    "validUntil": "2022-08-28T12:29:44-07:00"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "delete": {
        "operationId": "AccountApiCredentialsIdDelete",
        "summary": "Delete an ApiCredential",
        "description": "Delete an ApiCredential by its id.",
        "deprecated": false,
        "tags": [
          "Account ApiCredentials"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The id of the ApiCredential",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/account/associatedNetworks": {
      "get": {
        "operationId": "AccountAssociatedNetworksGet",
        "summary": "Get associated network accounts",
        "description": "Return the network accounts found for the user. This is useful to check if the setup between the network and TONIC. is working properly. <br />The data can be filtered by network and type (default account or page for facebook). Results can be sorted by various fields and paginated.",
        "deprecated": false,
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "network",
            "description": "Filter by network<br /><i>Available Values</i> : facebook, mgid, newsbreak, outbrain, revcontent, taboola, tiktok, twitter",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "facebook"
          },
          {
            "in": "query",
            "name": "type",
            "description": "Filter by type.<br /><i>Available Values</i> : account, page",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "account"
          },
          {
            "in": "query",
            "name": "orderField",
            "description": "Sort results by field.<br /><i>Available Values</i> : networkId, lastSeen, actionNeeded",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "networkId"
          },
          {
            "in": "query",
            "name": "orderOrientation",
            "description": "Sort direction: asc (A-Z) or desc (Z-A).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "asc"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Pagination offset.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 15
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Results per page (default 25, max 100).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                },
                "example": {
                  "data": {
                    "networkId": "123456789",
                    "lastSeen": "2025-05-05T12:00:00-07:00",
                    "actionNeeded": false
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        }
      }
    },
    "/account/subUsers": {
      "get": {
        "operationId": "AccountSubUsersGet",
        "summary": "Get a list of SubUsers",
        "description": "Get all or a status filtered list of SubUsers.",
        "deprecated": false,
        "tags": [
          "Account Sub-User"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "description": "Get SubUsers of only one status.<br /><i>Available Values</i> : active, inactive",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "active"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                },
                "example": {
                  "data": [
                    {
                      "id": 58,
                      "email": "xyz@example.com",
                      "verificationStatus": "verified",
                      "firstName": "Exepsilon",
                      "lastName": "Zet",
                      "status": "active",
                      "created": "2022-08-28T12:29:44-07:00",
                      "subUserRole": {
                        "id": 25,
                        "name": "Campaign creator",
                        "accountSettings": false,
                        "payoutSettings": false,
                        "viewRevenue": "own",
                        "createArticles": true,
                        "createCampaigns": true,
                        "viewArticles": "all",
                        "viewCampaigns": "own",
                        "apiAccess": true,
                        "created": "2022-08-28T12:29:44-07:00"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      },
      "post": {
        "operationId": "AccountSubUsersPost",
        "summary": "Create a SubUser",
        "description": "Create a new SubUser.",
        "deprecated": false,
        "tags": [
          "Account Sub-User"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "AccountSubUsersPostRequest",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "minLength": 6,
                    "maxLength": 60,
                    "description": "The email address of the new user",
                    "example": "al.dillon@example.com"
                  },
                  "firstName": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 60,
                    "description": "The first name of the new user",
                    "example": "Al"
                  },
                  "lastName": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 60,
                    "description": "The last name of the new user",
                    "example": "Dillon"
                  },
                  "subUserRoleId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "if set, the new user will be created with the given role",
                    "nullable": true
                  },
                  "fullLiability": {
                    "type": "boolean",
                    "enum": [
                      true,
                      false
                    ],
                    "example": true,
                    "description": "Confrimation, that you are fully liable for all actions of the SubUser account you are creating."
                  }
                },
                "required": [
                  "email",
                  "firstName",
                  "lastName",
                  "fullLiability"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                },
                "example": {
                  "data": {
                    "id": 58,
                    "email": "xyz@example.com",
                    "verificationStatus": "verified",
                    "firstName": "Exepsilon",
                    "lastName": "Zet",
                    "status": "active",
                    "created": "2022-08-28T12:29:44-07:00",
                    "subUserRole": {
                      "id": 25,
                      "name": "Campaign creator",
                      "accountSettings": false,
                      "payoutSettings": false,
                      "viewRevenue": "own",
                      "createArticles": true,
                      "createCampaigns": true,
                      "viewArticles": "all",
                      "viewCampaigns": "own",
                      "apiAccess": true,
                      "created": "2022-08-28T12:29:44-07:00"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "409": {
            "$ref": "#/components/responses/409"
          }
        }
      }
    },
    "/account/subUsers/roles": {
      "get": {
        "operationId": "AccountSubUsersRolesGet",
        "summary": "Get all SubUserRoles",
        "description": "Get all Roles that are available.",
        "deprecated": false,
        "tags": [
          "Account Sub-User Roles"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                },
                "example": {
                  "data": [
                    {
                      "id": 25,
                      "name": "Campaign creator",
                      "accountSettings": false,
                      "payoutSettings": false,
                      "viewRevenue": "own",
                      "createArticles": true,
                      "createCampaigns": true,
                      "viewArticles": "all",
                      "viewCampaigns": "own",
                      "apiAccess": true,
                      "created": "2022-08-28T12:29:44-07:00",
                      "subUsers": [
                        {
                          "id": 58,
                          "email": "xyz@example.com",
                          "verificationStatus": "verified",
                          "firstName": "Exepsilon",
                          "lastName": "Zet",
                          "status": "active",
                          "created": "2022-08-28T12:29:44-07:00",
                          "subUserRole": {
                            "id": 25,
                            "name": "Campaign creator",
                            "accountSettings": false,
                            "payoutSettings": false,
                            "viewRevenue": "own",
                            "createArticles": true,
                            "createCampaigns": true,
                            "viewArticles": "all",
                            "viewCampaigns": "own",
                            "apiAccess": true,
                            "created": "2022-08-28T12:29:44-07:00"
                          }
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      },
      "post": {
        "operationId": "AccountSubUsersRolesPost",
        "summary": "Create a SubUserRole",
        "description": "Create a new role for SubUsers.",
        "deprecated": false,
        "tags": [
          "Account Sub-User Roles"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "AccountSubUsersRolesPostRequest",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "The name of the new role",
                    "example": "Role XYZ"
                  },
                  "payoutSettings": {
                    "type": "boolean",
                    "enum": [
                      true,
                      false
                    ],
                    "example": true,
                    "description": "Whether that role can view and edit payout settings"
                  },
                  "accountSettings": {
                    "type": "boolean",
                    "enum": [
                      true,
                      false
                    ],
                    "example": true,
                    "description": "Whether that role can view and edit account settings"
                  },
                  "viewRevenue": {
                    "type": "string",
                    "enum": [
                      "all",
                      "none"
                    ],
                    "example": "all",
                    "description": "Whether that role can view the revenue numbers"
                  },
                  "createArticles": {
                    "type": "boolean",
                    "enum": [
                      true,
                      false
                    ],
                    "example": true,
                    "description": "Whether that role can create article requests"
                  },
                  "createCampaigns": {
                    "type": "boolean",
                    "enum": [
                      true,
                      false
                    ],
                    "example": true,
                    "description": "Whether that role can create new campaigns"
                  },
                  "viewArticles": {
                    "type": "string",
                    "enum": [
                      "all",
                      "none"
                    ],
                    "example": "all",
                    "description": "Whether that role can view articles or article requests"
                  },
                  "viewCampaigns": {
                    "type": "string",
                    "enum": [
                      "all",
                      "own",
                      "none"
                    ],
                    "example": "all",
                    "description": "Whether that role can view campaigns and campaign statistics"
                  },
                  "apiAccess": {
                    "type": "boolean",
                    "enum": [
                      true,
                      false
                    ],
                    "example": true,
                    "description": "Whether that role can use and view the api documentation. true, false"
                  }
                },
                "required": [
                  "name",
                  "payoutSettings",
                  "accountSettings",
                  "viewRevenue",
                  "createArticles",
                  "createCampaigns",
                  "viewArticles",
                  "viewCampaigns",
                  "apiAccess"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                },
                "example": {
                  "data": {
                    "id": 25,
                    "name": "Campaign creator",
                    "accountSettings": false,
                    "payoutSettings": false,
                    "viewRevenue": "own",
                    "createArticles": true,
                    "createCampaigns": true,
                    "viewArticles": "all",
                    "viewCampaigns": "own",
                    "apiAccess": true,
                    "created": "2022-08-28T12:29:44-07:00",
                    "subUsers": [
                      {
                        "id": 58,
                        "email": "xyz@example.com",
                        "verificationStatus": "verified",
                        "firstName": "Exepsilon",
                        "lastName": "Zet",
                        "status": "active",
                        "created": "2022-08-28T12:29:44-07:00",
                        "subUserRole": {
                          "id": 25,
                          "name": "Campaign creator",
                          "accountSettings": false,
                          "payoutSettings": false,
                          "viewRevenue": "own",
                          "createArticles": true,
                          "createCampaigns": true,
                          "viewArticles": "all",
                          "viewCampaigns": "own",
                          "apiAccess": true,
                          "created": "2022-08-28T12:29:44-07:00"
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/account/subUsers/roles/{id}": {
      "get": {
        "operationId": "AccountSubUsersRolesIdGet",
        "summary": "Get a SubUserRole",
        "description": "Get Role and SubUsers that have it assigned.",
        "deprecated": false,
        "tags": [
          "Account Sub-User Roles"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The role id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                },
                "example": {
                  "data": {
                    "id": 25,
                    "name": "Campaign creator",
                    "accountSettings": false,
                    "payoutSettings": false,
                    "viewRevenue": "own",
                    "createArticles": true,
                    "createCampaigns": true,
                    "viewArticles": "all",
                    "viewCampaigns": "own",
                    "apiAccess": true,
                    "created": "2022-08-28T12:29:44-07:00",
                    "subUsers": [
                      {
                        "id": 58,
                        "email": "xyz@example.com",
                        "verificationStatus": "verified",
                        "firstName": "Exepsilon",
                        "lastName": "Zet",
                        "status": "active",
                        "created": "2022-08-28T12:29:44-07:00",
                        "subUserRole": {
                          "id": 25,
                          "name": "Campaign creator",
                          "accountSettings": false,
                          "payoutSettings": false,
                          "viewRevenue": "own",
                          "createArticles": true,
                          "createCampaigns": true,
                          "viewArticles": "all",
                          "viewCampaigns": "own",
                          "apiAccess": true,
                          "created": "2022-08-28T12:29:44-07:00"
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "delete": {
        "operationId": "AccountSubUsersRolesIdDelete",
        "summary": "Delete a SubUserRole",
        "description": "Delete a role for SubUsers.",
        "deprecated": false,
        "tags": [
          "Account Sub-User Roles"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The id of the role",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "409": {
            "$ref": "#/components/responses/409"
          }
        }
      },
      "put": {
        "operationId": "AccountSubUsersRolesIdPut",
        "summary": "Update a SubUserRole",
        "description": "Updates a SubUserRole if changes were detected.",
        "deprecated": false,
        "tags": [
          "Account Sub-User Roles"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "AccountSubUsersRolesIdPutRequest",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "description": "The name of the new role",
                    "example": "Role XYZ"
                  },
                  "payoutSettings": {
                    "type": "boolean",
                    "enum": [
                      true,
                      false
                    ],
                    "example": true,
                    "description": "Whether that role can view and edit payout settings. true or false"
                  },
                  "accountSettings": {
                    "type": "boolean",
                    "enum": [
                      true,
                      false
                    ],
                    "example": true,
                    "description": "Whether that role can view and edit account settings. true or false"
                  },
                  "viewRevenue": {
                    "type": "string",
                    "enum": [
                      "all",
                      "none"
                    ],
                    "example": "all",
                    "description": "Whether that role can view the revenue numbers, 'all', 'none'"
                  },
                  "createArticles": {
                    "type": "boolean",
                    "enum": [
                      true,
                      false
                    ],
                    "example": true,
                    "description": "Whether that role can create article requests. true or false"
                  },
                  "createCampaigns": {
                    "type": "boolean",
                    "enum": [
                      true,
                      false
                    ],
                    "example": true,
                    "description": "Whether that role can create new campaigns. true or false"
                  },
                  "viewArticles": {
                    "type": "string",
                    "enum": [
                      "all",
                      "none"
                    ],
                    "example": "all",
                    "description": "Whether that role can view articles or article requests"
                  },
                  "viewCampaigns": {
                    "type": "string",
                    "enum": [
                      "all",
                      "own",
                      "none"
                    ],
                    "example": "all",
                    "description": "Whether that role can view campaigns and campaign statistics, 'all', 'own', 'none'"
                  },
                  "apiAccess": {
                    "type": "boolean",
                    "enum": [
                      true,
                      false
                    ],
                    "example": true,
                    "description": "Whether that role can use and view the api documentation. true, false"
                  }
                },
                "required": [
                  "name",
                  "payoutSettings",
                  "accountSettings",
                  "viewRevenue",
                  "createArticles",
                  "createCampaigns",
                  "viewArticles",
                  "viewCampaigns",
                  "apiAccess"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The role id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                },
                "example": {
                  "data": {
                    "id": 25,
                    "name": "Campaign creator",
                    "accountSettings": false,
                    "payoutSettings": false,
                    "viewRevenue": "own",
                    "createArticles": true,
                    "createCampaigns": true,
                    "viewArticles": "all",
                    "viewCampaigns": "own",
                    "apiAccess": true,
                    "created": "2022-08-28T12:29:44-07:00",
                    "subUsers": [
                      {
                        "id": 58,
                        "email": "xyz@example.com",
                        "verificationStatus": "verified",
                        "firstName": "Exepsilon",
                        "lastName": "Zet",
                        "status": "active",
                        "created": "2022-08-28T12:29:44-07:00",
                        "subUserRole": {
                          "id": 25,
                          "name": "Campaign creator",
                          "accountSettings": false,
                          "payoutSettings": false,
                          "viewRevenue": "own",
                          "createArticles": true,
                          "createCampaigns": true,
                          "viewArticles": "all",
                          "viewCampaigns": "own",
                          "apiAccess": true,
                          "created": "2022-08-28T12:29:44-07:00"
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/account/subUsers/{id}": {
      "get": {
        "operationId": "AccountSubUsersIdGet",
        "summary": "Get a SubUser",
        "description": "Get data of a subUser by the subUser's email.",
        "deprecated": false,
        "tags": [
          "Account Sub-User"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The id of the SubUser",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                },
                "example": {
                  "data": {
                    "id": 58,
                    "email": "xyz@example.com",
                    "verificationStatus": "verified",
                    "firstName": "Exepsilon",
                    "lastName": "Zet",
                    "status": "active",
                    "created": "2022-08-28T12:29:44-07:00",
                    "subUserRole": {
                      "id": 25,
                      "name": "Campaign creator",
                      "accountSettings": false,
                      "payoutSettings": false,
                      "viewRevenue": "own",
                      "createArticles": true,
                      "createCampaigns": true,
                      "viewArticles": "all",
                      "viewCampaigns": "own",
                      "apiAccess": true,
                      "created": "2022-08-28T12:29:44-07:00"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "patch": {
        "operationId": "AccountSubUsersIdPatch",
        "summary": "Update a SubUser",
        "description": "Update a SubUsers attibutes, like firstname, name and status.",
        "deprecated": false,
        "tags": [
          "Account Sub-User"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "AccountSubUsersIdPatchRequest",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 60,
                    "description": "The new first name of the user",
                    "example": "Al"
                  },
                  "lastName": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 60,
                    "description": "The new last name of the user",
                    "example": "Dillon"
                  },
                  "subUserRoleId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Id of the sub-user-role to assign to the sub-user. To detach a role from a sub-user, set this parameter to null.",
                    "nullable": true
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "inactive"
                    ],
                    "description": "The new status of a subuser",
                    "example": "active"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The subuser id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                },
                "example": {
                  "data": {
                    "id": 58,
                    "email": "xyz@example.com",
                    "verificationStatus": "verified",
                    "firstName": "Exepsilon",
                    "lastName": "Zet",
                    "status": "active",
                    "created": "2022-08-28T12:29:44-07:00",
                    "subUserRole": {
                      "id": 25,
                      "name": "Campaign creator",
                      "accountSettings": false,
                      "payoutSettings": false,
                      "viewRevenue": "own",
                      "createArticles": true,
                      "createCampaigns": true,
                      "viewArticles": "all",
                      "viewCampaigns": "own",
                      "apiAccess": true,
                      "created": "2022-08-28T12:29:44-07:00"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "delete": {
        "operationId": "AccountSubUsersIdDelete",
        "summary": "Delete a SubUser",
        "description": "Delete an existing SubUser.",
        "deprecated": false,
        "tags": [
          "Account Sub-User"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The id of the SubUser to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/account/subUsers/{id}/verification": {
      "post": {
        "operationId": "AccountSubUsersIdVerificationPost",
        "summary": "Resend verification email",
        "description": "Send a verification email to the sub user if none was sent before or the last one was expired. The email contains a verification token which is valid for 48 hours. Also invalidates all previously sent tokens.",
        "deprecated": false,
        "tags": [
          "Account Sub-User"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "Sub user id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": "1"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/analytics/epc": {
      "get": {
        "operationId": "AnalyticsEpcGet",
        "summary": "EPC data",
        "description": "EPC tracking allows you to gather valuable click data. You will see estimated revenues for single clicks after round about 2h depending on our system load. After we receive final Revenue data from our Partner we’ll apply corrections to the estimated revenue, so the data will match with our system-wide statistical data.\n     *                  <br><br><b>Experimental feature</b><br>We introduced cursor-based pagination for experimental reasons. As a result, please be aware of the following potential changes depending on system conditions:<ul><li>Under large system load, we may reduce capacity</li><li>We may introduce new rate limits</li><li>We may rethink the entire architecture of cursor based endpoint(s)</li></ul>",
        "deprecated": false,
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "date",
            "description": "The date of the day you want to receive (PST/PDT)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "in": "query",
            "name": "token",
            "description": "On your first request, the server runs the query and generates a result set. To retrieve the next page, pass the `nextToken` value from the `cursor` object in the previous response. Without a token, the first page is always returned. Result sets expire automatically — the exact time is shown in `expiresAt` and is determined by the server based on the requested data; it cannot be influenced by the caller.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Results per page. You can set upto 999 results per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                },
                "example": {
                  "data": {
                    "date_from": "2026-05-21",
                    "campaign_id": 42,
                    "campaign_name": "My RSOC Campaign",
                    "country": "US",
                    "clicks": 1500,
                    "revenue": "12.50",
                    "revenue_type": "final",
                    "keyword": "cheap flights",
                    "device": "desktop"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/analytics/reports/session": {
      "get": {
        "operationId": "AnalyticsReportsSessionGet",
        "summary": "Session report data",
        "description": "This report contains tracking data and non final numbers. Most publishers use this to monitor, analyze and optimize the click through rate from view of the keywords page to ad click.<br/>Without a 'columns' parameter every row carries the full default set (session/campaign/device/country/etc., the standard tracking-link parameters and the revenue figures). Tracking-link parameters are always grouped under a nested 'querystring' object.<br/><br/><b>Revenue columns.</b> <code>pre_estimation</code>, <code>estimation</code> and <code>estimation_5h</code> are three estimates of the same revenue. Each one is more accurate than the one before it and each one becomes available later: <code>pre_estimation</code> is the earliest and roughest figure, <code>estimation</code> follows about 40 minutes after the click, and <code>estimation_5h</code> is the most accurate of the three and settles about five hours after the click. None of them is final - a row keeps improving over the course of the day, so fetching the same day again later returns better numbers.",
        "deprecated": false,
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "date",
            "description": "The single day you want to receive the session report for (PST/PDT). Must not be in the future or more than 50 days in the past.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-09-20"
          },
          {
            "in": "query",
            "name": "campaignType",
            "description": "Type of campaigns to report. Default 'rsoc'<br /><i>Available Values</i> : rsoc",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "rsoc"
          },
          {
            "in": "query",
            "name": "columns",
            "description": "Which columns to return, in the order you want them. Omit the parameter to get the full default set; if you do specify it, name at least one column.<br /><br />Any column of the report:.<br /><code>campaign_id</code>, <code>campaign_type</code>, <code>campaign_name</code>, <code>date</code>, <code>timestamp</code>, <code>clicks</code>, <code>keyword</code>, <code>device_type</code>, <code>country</code>, <code>user_agent</code>, <code>session</code>, <code>browser_language</code>, <code>pre_estimation</code>, <code>estimation</code>, <code>estimation_5h</code>.<br /><br />A tracking-link parameter as <code>querystring.&lt;parameter&gt;</code> - one of the standard ones (<code>querystring.subid1</code> to <code>querystring.subid4</code>, <code>querystring.network</code>, <code>querystring.site</code>, <code>querystring.siteid</code>, <code>querystring.adtitle</code>) or any custom one your tracking link uses, e.g. <code>querystring.myCustomParam</code>.<br /><br /><code>querystring</code> for the entire raw querystring, returned as <code>querystring_raw</code>.<br /><br />Requested tracking-link parameters always end up inside the nested <code>querystring</code> object, positioned where the first of them was requested.<br />Pass multiple values separated by commas.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "orderBy",
            "description": "Column to sort the report by: any of the fixed columns listed above. Default 'timestamp'.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "timestamp"
          },
          {
            "in": "query",
            "name": "orderOrientation",
            "description": "The result order direction:<br/>asc - Ascending; from A to Z <br/>desc - Descending; from Z to A. Default 'desc'.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "asc"
            },
            "example": "desc"
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Results per page. You can set up to 1000 results per page. Default 1000.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 100
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Result offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                },
                "example": {
                  "data": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      }
    },
    "/articles": {
      "get": {
        "operationId": "ArticlesGet",
        "summary": "Get all available articles",
        "description": "Returns a list of articles. The results can be filtered and sorted by a specified field and direction.",
        "deprecated": false,
        "tags": [
          "Articles"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "articleIds",
            "description": "Filter by article IDs.<br />Pass multiple values separated by commas.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": "1,2,3"
          },
          {
            "in": "query",
            "name": "title",
            "description": "Filter by campaign name (case-insensitive, min. 3 characters).",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 100
            },
            "example": "Article XYZ"
          },
          {
            "in": "query",
            "name": "domain",
            "description": "Filter by domain",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 100
            },
            "example": "mydomain.com"
          },
          {
            "in": "query",
            "name": "language",
            "description": "Filter by 2 digits language code",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2
            },
            "example": "en"
          },
          {
            "in": "query",
            "name": "verticalIds",
            "description": "Filter by vertical IDs<br />Pass multiple values separated by commas.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": "2,3,4"
          },
          {
            "in": "query",
            "name": "verticalName",
            "description": "Filter by vertical name (case-insensitive, min. 3 characters).",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 100
            },
            "example": "Some Vertical"
          },
          {
            "in": "query",
            "name": "offerIds",
            "description": "Filter by Offer IDs<br />Pass multiple values separated by commas.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": "3,4,5"
          },
          {
            "in": "query",
            "name": "offerName",
            "description": "Filter by Offer name (case-insensitive, min. 3 characters).",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 100
            },
            "example": "Offer XYZ"
          },
          {
            "in": "query",
            "name": "countryCode",
            "description": "Filter by country code<br />Pass multiple values separated by commas.",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 2
            },
            "example": "de,ch,us,ua"
          },
          {
            "in": "query",
            "name": "orderField",
            "description": "Sort results by field.<br /><i>Available Values</i> : id, title, created, offer_name, vertical_name, country_name, country_code, language, connected_campaigns",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "id"
          },
          {
            "in": "query",
            "name": "orderOrientation",
            "description": "Sort direction: asc (A-Z) or desc (Z-A).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "asc"
            },
            "example": "desc"
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The limit of returned paginated data",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 25
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The offset of returned paginated data",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 15
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                },
                "example": {
                  "data": [
                    {
                      "id": 123,
                      "offer": {
                        "id": 42,
                        "name": "Offer XYZ",
                        "vertical": {
                          "id": 76,
                          "name": "Vertical XYZ"
                        }
                      },
                      "country": {
                        "code": "US",
                        "name": "United States"
                      },
                      "language": "en",
                      "title": "My awesome article",
                      "url": "https://15u102.xdzxrxbcwtv.com/articles/lorem-ipsum",
                      "created": "2024-08-28T12:29:44-07:00",
                      "connectedCampaignsCount": 0
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      }
    },
    "/articles/requests": {
      "get": {
        "operationId": "ArticlesRequestsGet",
        "summary": "Get all available articles requests",
        "description": "Returns a list of articles requests. The results can be filtered and sorted by a specified field and direction.",
        "deprecated": false,
        "tags": [
          "Articles"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "requestIds",
            "description": "Filter by article requests IDs.<br />Pass multiple values separated by commas.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": "1,2,3"
          },
          {
            "in": "query",
            "name": "articleIds",
            "description": "Filter by article IDs.<br />Pass multiple values separated by commas.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": "2,3,4"
          },
          {
            "in": "query",
            "name": "language",
            "description": "Filter by 2 digits language code",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2
            },
            "example": "en"
          },
          {
            "in": "query",
            "name": "offerName",
            "description": "Filter by Offer name (case-insensitive, min. 3 characters).",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 100
            },
            "example": "Offer XYZ"
          },
          {
            "in": "query",
            "name": "countryCodes",
            "description": "Filter by 2 digits country codes<br />Pass multiple values separated by commas.",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2
            },
            "example": "de,en"
          },
          {
            "in": "query",
            "name": "status",
            "description": "Filter by request status (optional).<br />Pass multiple values separated by commas.",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 20
            },
            "example": "requested,published,rejected"
          },
          {
            "in": "query",
            "name": "orderField",
            "description": "Sort results by field.<br /><i>Available Values</i> : id, article_id, created, request_status, language",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "id"
          },
          {
            "in": "query",
            "name": "orderOrientation",
            "description": "Sort direction: asc (A-Z) or desc (Z-A).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "asc"
            },
            "example": "desc"
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The limit of returned paginated data",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 25
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The offset of returned paginated data",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 15
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                },
                "example": {
                  "data": [
                    {
                      "id": 123,
                      "status": "rejected",
                      "phrases": [
                        "Phrase 1",
                        "Phrase 2",
                        "Phrase example"
                      ],
                      "rejectionReason": "Too Promotional",
                      "offer": {
                        "id": 42,
                        "name": "Offer XYZ",
                        "vertical": {
                          "id": 76,
                          "name": "Vertical XYZ"
                        }
                      },
                      "domain": "example.com",
                      "country": {
                        "code": "US",
                        "name": "United States"
                      },
                      "title": "Title example",
                      "language": "en",
                      "created": "2025-08-28T12:29:44-07:00",
                      "articleId": 42
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      },
      "post": {
        "operationId": "ArticlesRequestsPost",
        "summary": "Create an article request",
        "description": "Create a new article request. Get available offers from the [offer list endpoint](#/Offers/OffersGet) (filter by campaign type 'rsoc') and available RSOC domains with supported languages from the [account endpoint](#/Account/AccountGet) in the 'availableRsocDomains' field.",
        "deprecated": false,
        "tags": [
          "Articles"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArticleRequestRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                },
                "example": {
                  "data": {
                    "id": 123,
                    "status": "rejected",
                    "phrases": [
                      "Phrase 1",
                      "Phrase 2",
                      "Phrase example"
                    ],
                    "rejectionReason": "Too Promotional",
                    "offer": {
                      "id": 42,
                      "name": "Offer XYZ",
                      "vertical": {
                        "id": 76,
                        "name": "Vertical XYZ"
                      }
                    },
                    "domain": "example.com",
                    "country": {
                      "code": "US",
                      "name": "United States"
                    },
                    "title": "Title example",
                    "language": "en",
                    "created": "2025-08-28T12:29:44-07:00",
                    "articleId": 42
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "424": {
            "$ref": "#/components/responses/424"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    },
    "/articles/requests/{id}": {
      "get": {
        "operationId": "ArticlesRequestsIdGet",
        "summary": "Get an article request",
        "description": "Get an article request data by id",
        "deprecated": false,
        "tags": [
          "Articles"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The article request id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 999
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                },
                "example": {
                  "data": {
                    "id": 123,
                    "status": "rejected",
                    "phrases": [
                      "Phrase 1",
                      "Phrase 2",
                      "Phrase example"
                    ],
                    "rejectionReason": "Too Promotional",
                    "offer": {
                      "id": 42,
                      "name": "Offer XYZ",
                      "vertical": {
                        "id": 76,
                        "name": "Vertical XYZ"
                      }
                    },
                    "domain": "example.com",
                    "country": {
                      "code": "US",
                      "name": "United States"
                    },
                    "title": "Title example",
                    "language": "en",
                    "created": "2025-08-28T12:29:44-07:00",
                    "articleId": 42
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/articles/translations": {
      "get": {
        "operationId": "ArticlesTranslationsGet",
        "summary": "Get all available article translation requests",
        "description": "Returns a list of article translation requests. The results can be filtered and sorted by a specified field and direction.",
        "deprecated": false,
        "tags": [
          "Articles"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "requestIds",
            "description": "Filter by article translation requests IDs.<br />Pass multiple values separated by commas.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": "1,2,3"
          },
          {
            "in": "query",
            "name": "status",
            "description": "Filter by request status (optional).<br />Pass multiple values separated by commas.<br /><i>Available Values</i> : published, pending, rejected, error",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 20
            },
            "example": "published,pending,rejected,error"
          },
          {
            "in": "query",
            "name": "orderField",
            "description": "Sort results by field.<br /><i>Available Values</i> : id, created, request_status",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "id"
          },
          {
            "in": "query",
            "name": "orderOrientation",
            "description": "Sort direction: asc (A-Z) or desc (Z-A).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "asc"
            },
            "example": "desc"
          },
          {
            "in": "query",
            "name": "limit",
            "description": "The limit of returned paginated data",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 25
          },
          {
            "in": "query",
            "name": "offset",
            "description": "The offset of returned paginated data",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 15
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                },
                "example": {
                  "data": [
                    {
                      "id": 123,
                      "sourceArticleId": 42,
                      "status": "published",
                      "country": {
                        "code": "US",
                        "name": "United States"
                      },
                      "language": "en",
                      "created": "2025-08-28T12:29:44-07:00",
                      "articleId": 42
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      },
      "post": {
        "operationId": "ArticlesTranslationsPost",
        "summary": "Create an article translation request",
        "description": "Create a new article translation request from an existing article.",
        "deprecated": false,
        "tags": [
          "Articles"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArticleTranslationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                },
                "example": {
                  "data": {
                    "id": 123,
                    "sourceArticleId": 42,
                    "status": "published",
                    "country": {
                      "code": "US",
                      "name": "United States"
                    },
                    "language": "en",
                    "created": "2025-08-28T12:29:44-07:00",
                    "articleId": 42
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "424": {
            "$ref": "#/components/responses/424"
          },
          "429": {
            "$ref": "#/components/responses/429"
          }
        }
      }
    },
    "/articles/{id}": {
      "get": {
        "operationId": "ArticlesIdGet",
        "summary": "Get an article",
        "description": "Get an article data",
        "deprecated": false,
        "tags": [
          "Articles"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The article id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 999
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                },
                "example": {
                  "data": {
                    "id": 123,
                    "offer": {
                      "id": 42,
                      "name": "Offer XYZ",
                      "vertical": {
                        "id": 76,
                        "name": "Vertical XYZ"
                      }
                    },
                    "country": {
                      "code": "US",
                      "name": "United States"
                    },
                    "language": "en",
                    "title": "My awesome article",
                    "url": "https://15u102.xdzxrxbcwtv.com/articles/lorem-ipsum",
                    "created": "2024-08-28T12:29:44-07:00",
                    "connectedCampaignsCount": 0
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "delete": {
        "operationId": "ArticlesIdDelete",
        "summary": "Delete an article",
        "description": "Removes an article from the account. It disappears from the article list and is no longer offered for new campaigns. Articles that still have a campaign attached can not be deleted, a stopped campaign included: stop the campaign and it is deleted automatically about a day later, then the article can go.",
        "deprecated": false,
        "tags": [
          "Articles"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "The article id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 999
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "409": {
            "$ref": "#/components/responses/409"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/campaigns": {
      "get": {
        "operationId": "CampaignsGet",
        "summary": "Get a list of campaigns",
        "description": "Filter and sort campaigns using query parameters. Results are ordered by revenue by default.",
        "deprecated": false,
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "state",
            "description": "Filter by campaign state.<br />Pass multiple values separated by commas.<br /><i>Available Values</i> : pending, active, stopped, deleted",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "pending"
          },
          {
            "in": "query",
            "name": "campaignIds",
            "description": "Filter by campaign IDs.<br />Pass multiple values separated by commas.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "in": "query",
            "name": "campaignName",
            "description": "Filter by campaign name (case-insensitive, min. 3 characters).",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 100
            },
            "example": "Campaign XYZ"
          },
          {
            "in": "query",
            "name": "campaignTypes",
            "description": "Filter by campaign types.<br />Pass multiple values separated by commas.<br /><i>Available Values</i> : rsoc",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "rsoc"
          },
          {
            "in": "query",
            "name": "countryCode",
            "description": "Filter by campaign country codes.<br />Pass multiple values separated by commas.",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2
            },
            "example": "US"
          },
          {
            "in": "query",
            "name": "offerIds",
            "description": "Filter by offer IDs.<br />Pass multiple values separated by commas.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "in": "query",
            "name": "verticalName",
            "description": "Filter by vertical name.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Verticle XYZ"
          },
          {
            "in": "query",
            "name": "orderField",
            "description": "Sort results by field.<br /><i>Available Values</i> : id, name, type, country, imprint, offer, vertical, created, views, clicks, revenue, vtc, rpc, rpmv",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "id"
          },
          {
            "in": "query",
            "name": "orderOrientation",
            "description": "Sort direction: asc (A-Z) or desc (Z-A).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "asc"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Pagination offset.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 15
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Results per page (default 25, max 100).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 10
          },
          {
            "in": "query",
            "name": "stats",
            "description": "Include stats in results.",
            "required": false,
            "schema": {
              "type": "boolean",
              "enum": [
                true,
                false
              ],
              "example": true
            }
          },
          {
            "in": "query",
            "name": "from",
            "description": "Stats start date.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2023-01-01"
          },
          {
            "in": "query",
            "name": "to",
            "description": "Stats end date (max range: 31 days).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2023-01-31"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                },
                "example": {
                  "data": [
                    {
                      "id": 4321,
                      "name": "My awesome campaign 1",
                      "status": "active",
                      "imprint": true,
                      "country": {
                        "code": "US",
                        "name": "United States"
                      },
                      "offer": {
                        "id": 42,
                        "name": "Offer XYZ",
                        "vertical": {
                          "id": 76,
                          "name": "Vertical XYZ"
                        }
                      },
                      "created": "2022-08-28T12:29:44-07:00",
                      "traffic": {
                        "trackingTarget": {
                          "eventType": "Lead",
                          "pixelId": "pixelId123",
                          "domainVerificationToken": "domainVerificationToken123",
                          "accessToken": "accessToken123",
                          "revenueType": "estimatedRevenue",
                          "name": "facebook"
                        }
                      },
                      "keywordAmount": 3,
                      "keywords": [
                        "keyword1",
                        "keyword2",
                        "keyword3"
                      ],
                      "type": "display",
                      "trackingLink": "https://15u102.xdzxrxbcwtv.com",
                      "directLink": "https://example.org/articles/test?dest=MTZ6Z2g0My54ZHp4cnhiY3d0di5jb20=",
                      "targetDomain": "targetdomain.com",
                      "s2sCallbacks": {
                        "redirect": "https://mytrackingdomain.com/redirect",
                        "click": "https://mytrackingdomain.com/click"
                      },
                      "article": {
                        "id": 123,
                        "offer": {
                          "id": 42,
                          "name": "Offer XYZ",
                          "vertical": {
                            "id": 76,
                            "name": "Vertical XYZ"
                          }
                        },
                        "country": {
                          "code": "US",
                          "name": "United States"
                        },
                        "language": "en",
                        "title": "My awesome article",
                        "url": "https://15u102.xdzxrxbcwtv.com/articles/lorem-ipsum",
                        "created": "2024-08-28T12:29:44-07:00",
                        "connectedCampaignsCount": 0
                      },
                      "articleRequest": {
                        "id": 123,
                        "status": "rejected",
                        "phrases": [
                          "Phrase 1",
                          "Phrase 2",
                          "Phrase example"
                        ],
                        "rejectionReason": "Too Promotional",
                        "offer": {
                          "id": 42,
                          "name": "Offer XYZ",
                          "vertical": {
                            "id": 76,
                            "name": "Vertical XYZ"
                          }
                        },
                        "domain": "example.com",
                        "country": {
                          "code": "US",
                          "name": "United States"
                        },
                        "title": "Title example",
                        "language": "en",
                        "created": "2025-08-28T12:29:44-07:00",
                        "articleId": 42
                      },
                      "stats": {
                        "views": 15,
                        "clicks": 12,
                        "vtc": 0.42,
                        "revenue": 23.5,
                        "rpc": 1.56,
                        "rpmv": 0.33
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      },
      "post": {
        "operationId": "CampaignsPost",
        "summary": "Create a campaign",
        "description": "Create a new campaign.",
        "deprecated": false,
        "tags": [
          "Campaigns"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                },
                "example": {
                  "data": {
                    "id": 4321,
                    "name": "My awesome campaign 1",
                    "status": "active",
                    "imprint": true,
                    "country": {
                      "code": "US",
                      "name": "United States"
                    },
                    "offer": {
                      "id": 42,
                      "name": "Offer XYZ",
                      "vertical": {
                        "id": 76,
                        "name": "Vertical XYZ"
                      }
                    },
                    "created": "2022-08-28T12:29:44-07:00",
                    "traffic": {
                      "trackingTarget": {
                        "eventType": "Lead",
                        "pixelId": "pixelId123",
                        "domainVerificationToken": "domainVerificationToken123",
                        "accessToken": "accessToken123",
                        "revenueType": "estimatedRevenue",
[...]
